{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>404 Not found</title>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="description" content="RastaPucho" />
  <meta name="keywords" content="wedding, wedding cards, rastapucho, RastaPucho, rastapucho wedding, rastapucho Cards, rastapucho wedding cards">
  <meta name="author" content="Khabai Tech" />
  <meta name="MobileOptimized" content="320" />
  <link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/x-icon" />
  <!-- favicon -->
  <!-- theme style -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- bootstrap css -->
  <!-- revolution -->
  <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}">
  <!-- revolution setting css -->
  <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}">
  <!-- revolution layer css -->
  <!-- end revolution -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- fontawesome css -->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <!-- google fonts -->
  <link href="{% static 'css/menumaker.css' %}" rel="stylesheet" type="text/css" />
  <!-- menu css -->
  <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" type="text/css" />
  <!-- owl carousel css -->
  <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
  <!-- magnify popup css -->
  <link href="{% static 'css/datepicker.css' %}" rel="stylesheet" type="text/css" />
  <!-- datepicker css -->
  <link href="{% static 'css/flaticon.css' %}" rel="stylesheet" type="text/css" />
  <!-- flaticon css -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
  <!-- custom css -->
  <link href="{% static 'css/stucture.css' %}" rel="stylesheet" type="text/css" />
  <!-- stucture css -->
  <!-- end theme style -->

  <style media="screen">
    /*======================
    404 page
=======================*/


    .page_404 {
      padding: 40px 0;
      background: #fff;
      font-family: 'Arvo', serif;
    }

    .page_404 img {
      width: 100%;
    }

    .four_zero_four_bg {

      background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
      height: 400px;
      background-position: center;
    }


    .four_zero_four_bg h1 {
      font-size: 80px;
    }

    .four_zero_four_bg h3 {
      font-size: 80px;
    }

    .link_404 {
      color: #fff !important;
      padding: 10px 20px;
      background: #39ac31;
      margin: 20px 0;
      display: inline-block;
    }

    .contant_box_404 {
      margin-top: -50px;
    }
  </style>

</head>

<body>

  <section class="page_404">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 ">
          <div class="col-sm-10 col-sm-offset-1  text-center">
            <div class="four_zero_four_bg">
              <h1 class="text-center ">404</h1>
            </div>
            <div class="contant_box_404">
              <h3 class="h2">
                Look like you're lost
              </h3>
              <p>the page you are looking for not avaible!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- jquery -->
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <!-- jquery library js -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
  <!-- owl carousel js -->
  <script type="text/javascript" src="{% static 'js/jquery.ajaxchimp.js' %}"></script>
  <!-- mail chimp js -->
  <script type="text/javascript" src="{% static 'js/smooth-scroll.js' %}"></script>
  <!-- smooth scroll js -->
  <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <!-- magnify popup js -->
  <script type="text/javascript" src="{% static 'js/waypoints.min.js' %}"></script>
  <!-- facts count js required for jquery.counterup.js file -->
  <script type="text/javascript" src="{% static 'js/jquery.counterup.js' %}"></script>
  <!-- facts count js-->
  <script type="text/javascript" src="{% static 'js/menumaker.js' %}"></script>
  <!-- menu js-->
  <script type="text/javascript" src="{% static 'js/jquery.share-tooltip.js' %}"></script>
  <!-- share tooltip js-->
  <script type="text/javascript" src="{% static 'js/price-slider.js' %}"></script>
  <!-- price slider / filter js-->
  <script type="text/javascript" src="{% static 'js/review.js' %}"></script>
  <!-- submit review / review js-->
  <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <!-- datepicker js-->
  <!-- revolution js files -->
  <script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
  <!-- end revolution js files -->
  <script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
  <!-- custom js -->
  <script type="text/javascript">
    var tpj = jQuery;
    var revapi1066;
    tpj(document).ready(function() {
      if (tpj("#rev_slider_1066_1").revolution == undefined) {
        revslider_showDoubleJqueryError("#rev_slider_1066_1");
      } else {
        revapi1066 = tpj("#rev_slider_1066_1").show().revolution({
          sliderType: "standard",
          jsFileLocation: "//server.local/revslider/wp-content/plugins/revslider/public/assets/js/",
          sliderLayout: "auto",
          delay: 9000,
          navigation: {
            keyboardNavigation: "off",
            keyboard_direction: "horizontal",
            mouseScrollNavigation: "off",
            mouseScrollReverse: "default",
            onHoverStop: "off",
            touch: {
              touchenabled: "off",
              swipe_threshold: 75,
              swipe_min_touches: 1,
              swipe_direction: "horizontal",
              drag_block_vertical: false
            },
            arrows: {
              style: "",
              enable: true,
              hide_onmobile: true,
              hide_onleave: false,
              // hide_delay:0,
              hide_delay_mobile: 1200,
              hide_under: 0,
              hide_over: 9999,
              tmp: '',
              rtl: false,
              left: {
                h_align: "left",
                v_align: "center",
                h_offset: 20,
                v_offset: 0,
                container: "slider",
              },
              right: {
                h_align: "right",
                v_align: "center",
                h_offset: 20,
                v_offset: 0,
                container: "slider",
              }
            }
          },
          responsiveLevels: [1240, 1024, 778, 480],
          visibilityLevels: [1240, 1024, 778, 480],
          gridwidth: [1240, 1024, 778, 480],
          gridwidth: 1000,
          gridheight: [868, 768, 960, 720],
          lazyType: "none",
          parallax: {
            type: "mouse",
            origo: "slidercenter",
            speed: 2000,
            levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55],
            type: "mouse",
            disable_onmobile: "on"
          },
          shadow: 0,
          spinner: "off",
          stopLoop: "off",
          stopAfterLoops: 1,
          stopAtSlide: 0,
          shuffle: "off",
          autoHeight: "off",
          fullScreenAutoWidth: "off",
          fullScreenAlignForce: "off",
          fullScreenOffsetContainer: ".header",
          fullScreenOffset: "60px",
          disableProgressBar: "on",
          hideThumbsOnMobile: "off",
          hideSliderAtLimit: 0,
          hideCaptionAtLimit: 0,
          hideAllCaptionAtLilmit: 0,
          debugMode: false,
          fallbacks: {
            simplifyAll: "off",
            nextSlideOnWindowFocus: "off",
            disableFocusListener: false,
          }
        });
      }
    });
  </script>
  <!-- end jquery -->
</body>
<!--body end -->

<!-- Mirrored from thegenius.co/html/weddlist/version-1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Jan 2021 07:58:13 GMT -->

</html>
