{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Rastapucho</title>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="description" content="RastaPucho" />
  <meta name="keywords" content="wedding, wedding cards, rastapucho, RastaPucho, rastapucho wedding, rastapucho Cards, rastapucho wedding cards">
  <meta name="author" content="Khabai Tech" />
  <meta name="MobileOptimized" content="320" />
  <link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/x-icon" />
  <!-- favicon -->
  <!-- theme style -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- bootstrap css -->
  <!-- revolution -->
  <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}">
  <!-- revolution setting css -->
  <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}">
  <!-- revolution layer css -->
  <!-- end revolution -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- fontawesome css -->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <!-- google fonts -->
  <link href="{% static 'css/menumaker.css' %}" rel="stylesheet" type="text/css" />
  <!-- menu css -->
  <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" type="text/css" />
  <!-- owl carousel css -->
  <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
  <!-- magnify popup css -->
  <link href="{% static 'css/datepicker.css' %}" rel="stylesheet" type="text/css" />
  <!-- datepicker css -->
  <link href="{% static 'css/flaticon.css' %}" rel="stylesheet" type="text/css" />
  <!-- flaticon css -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
  <!-- custom css -->
  <link href="{% static 'css/stucture.css' %}" rel="stylesheet" type="text/css" />
  <!-- stucture css -->
  <!-- end theme style -->
</head>

<body>
  <!-- preloader -->
  <div class="preloader">
    <div class="status">
      <div class="status-message">
      </div>
    </div>
  </div>
  <!-- end preloader -->
  <!--  navigation -->
  <header id="nav-bar" class="nav-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-3">
          <div class="wedding-logo">
            <a href="#"><img src="{% static 'images/logo.png' %}" class="img-responsive" alt="logo"></a>
          </div>
        </div>
        <div class="col-md-10 col-sm-9">
          <div class="navigation">
            <div id="cssmenu">
              <ul class="css-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="cards">Cards</a></li>
                <li><a href="contact-us-2.html">Designs</a></li>
                <li><a href="register.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--  end navigation -->
  <!-- home revolution slider  -->
  <section class="home-revo-slider">
    <article class="content">
      <div id="rev_slider_1066_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="notgeneric125" data-source="gallery" style="background-color:transparent;padding:0px;">
        <div id="rev_slider_1066_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
          <ul>
            <!-- SLIDE  -->
            <li data-index="rs-3005" data-transition="fadetotopfadefrombottom" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"
              data-rotate="0" data-saveperformance="off" data-title="Chill" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="https://1.bp.blogspot.com/-0H3hnyR1MEc/X_2l3fGdBnI/AAAAAAAAUiQ/h5RAi5wXjVE9N4vQKnp4tAseP7LyRRwFACNcBGAsYHQ/s16000/slide1.jpg" alt="khabaitech" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <div class="overlay-bg clr-blk"></div>
              <!-- LAYERS -->
              <!-- LAYER NR. 3 -->
              <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-3" id="slide-3005-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                data-voffset="['0','0','0','0']" data-fontsize="['52','52','52','52']" data-lineheight="['70','70','70','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                data-frames='[{"from":"y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]"
                style="font-family: 'Lora';z-index: 10; white-space: nowrap;text-transform:left;">Find Best Digital Wedding card
              </div>
              <!-- LAYER NR. 4 -->
              <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-2" id="slide-3005-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                data-voffset="['52','52','52','51']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="font-family: 'Lora';z-index: 11; white-space: nowrap;text-transform:left;">Over 100+ Wedding card For You &amp; your family.
              </div>
              <!-- LAYER NR. 5 -->
              <div class="tp-caption   tp-resizeme rs-parallaxlevel-8" id="slide-3005-layer-10" data-x="['left','left','left','left']" data-hoffset="['680','680','680','680']" data-y="['top','top','top','top']"
                data-voffset="['632','632','632','632']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on"
                data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 15;text-transform:left;border-width:0px;">

                <div class="rs-looped rs-pendulum" data-easing="linearEaseNone" data-startdeg="-20" data-enddeg="360" data-speed="35" data-origin="50% 50%"><img src="{% static 'images/slider/blurflake4.png' %}" alt=""
                    data-ww="['240px','240px','240px','240px']" data-hh="['240px','240px','240px','240px']" width="240" height="240" data-no-retina>
                </div>
              </div>
              <!-- LAYER NR. 6 -->
              <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" id="slide-3005-layer-11" data-x="['left','left','left','left']" data-hoffset="['948','948','948','948']" data-y="['top','top','top','top']"
                data-voffset="['487','487','487','487']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on"
                data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 16;text-transform:left;border-width:0px;">

                <div class="rs-looped rs-wave" data-speed="20" data-angle="0" data-radius="50px" data-origin="50% 50%"><img src="{% static 'images/slider/blurflake3.png' %}" alt="" data-ww="['170px','170px','170px','170px']"
                    data-hh="['170px','170px','170px','170px']" width="170" height="170" data-no-retina>
                </div>
              </div>
              <!-- LAYER NR. 7 -->
              <div class="tp-caption   tp-resizeme rs-parallaxlevel-4" id="slide-3005-layer-12" data-x="['left','left','left','left']" data-hoffset="['719','719','719','719']" data-y="['top','top','top','top']"
                data-voffset="['200','200','200','200']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on"
                data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 17;text-transform:left;border-width:0px;">
                <div class="rs-looped rs-rotate" data-easing="Power2.easeInOut" data-startdeg="-20" data-enddeg="360" data-speed="20" data-origin="50% 50%"><img src="{% static 'images/slider/blurflake2.png' %}" alt=""
                    data-ww="['50px','50px','50px','50px']" data-hh="['51px','51px','51px','51px']" width="50" height="51" data-no-retina>
                </div>
              </div>
              <!-- LAYER NR. 8 -->
              <div class="tp-caption   tp-resizeme rs-parallaxlevel-6" id="slide-3005-layer-13" data-x="['left','left','left','left']" data-hoffset="['187','187','187','187']" data-y="['top','top','top','top']"
                data-voffset="['216','216','216','216']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on"
                data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 18;text-transform:left;border-width:0px;">
                <div class="rs-looped rs-wave" data-speed="4" data-angle="0" data-radius="10" data-origin="50% 50%"><img src="{% static 'images/slider/blurflake1.png' %}" alt="" data-ww="['120px','120px','120px','120px']"
                    data-hh="['120px','120px','120px','120px']" width="120" height="120" data-no-retina>
                </div>
              </div>
            </li>


            <!-- SLIDE 2 -->
            <li data-index="rs-3006" data-transition="zoomin" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"
              data-saveperformance="off" data-title="Enjoy Nature" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="https://1.bp.blogspot.com/-NGGXtnUArK4/X_2lkmVCJsI/AAAAAAAAUiI/il1pF09Pc48XoWsdo6UPjhP3iIzZt6n8QCNcBGAsYHQ/s16000/slide2.jpg" alt="digital card" data-bgposition="center center" data-kenburns="on" data-duration="30000"
                data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <div class="overlay-bg clr-blk"></div>
              <!-- LAYERS -->
              <!-- LAYER NR. 9 -->
              <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-3006-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                data-voffset="['0','0','0','0']" data-fontsize="['52','52','52','52']" data-lineheight="['70','70','70','52']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                data-frames='[{"from":"y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]"
                style="font-family: 'Lora';z-index: 19; white-space: nowrap;text-transform:left;">Digital card for Wedding & Ring Ceremony.
              </div>
              <!-- LAYER NR. 10 -->
              <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" id="slide-3006-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                data-voffset="['52','52','52','51']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="font-family: 'Lora';z-index: 20; white-space: nowrap;text-transform:left;">We have Over 100+ Wedding card For wedding &amp; Ring Ceremony.
              </div>
            </li>


            <!-- SLIDE 3 -->
            <li class="slider-li-one" data-index="rs-3004" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"
              data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
              data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="https://1.bp.blogspot.com/-MwyYoKh5-qg/X_2lL7kENKI/AAAAAAAAUiA/pvDPaFOiOHMCYlkvYu1Ew0BPqahq0WTMQCNcBGAsYHQ/s16000/slide3.jpg" alt="rastapucho" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <div class="overlay-bg"></div>
              <!-- LAYERS -->
              <!-- LAYER NR. 1 -->
              <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-3004-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                data-voffset="['0','0','0','0']" data-fontsize="['52','52','52','52']" data-lineheight="['70','70','70','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]"
                style="font-family: 'Lora';z-index: 5; white-space: nowrap;text-transform:left;">Find Your Perfect Wedding Card.
              </div>
              <!-- LAYER NR. 2 -->
              <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" id="slide-3004-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                data-voffset="['52','52','52','51']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="font-family: 'Lora';z-index: 6; white-space: nowrap;text-transform:left;">Digital card for your Special Day
              </div>
            </li>



            <!-- SLIDE 4 -->
            <li data-index="rs-3008" data-transition="zoomin" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"
              data-saveperformance="off" data-title="Hiking" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="{% static 'images/slider/slider-2.jpg' %}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <div class="overlay-bg clr-blk"></div>
              <!-- LAYERS -->
              <!-- LAYER NR. 11 -->
              <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-3008-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                data-voffset="['0','0','0','0']" data-fontsize="['52','52','52','52']" data-lineheight="['70','70','70','52']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                data-frames='[{"from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.1,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]"
                style="font-family: 'Lora';z-index: 30; white-space: nowrap;text-transform:left;">Find Your Perfect Video Cards.
              </div>
              <!-- LAYER NR. 12 -->
              <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" id="slide-3008-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                data-voffset="['52','52','52','51']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="font-family: 'Lora';z-index: 31; white-space: nowrap;text-transform:left;">Cards For You Special Date &amp; &amp; Save You Date
              </div>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </section>
  <!-- end home revolution slider -->
  <!--about Section-->
  <section id="#about" class="why-choose-main-block ptb120">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-heading">Why Choose <span>RastaPucho</span></h2>
        </div>
        <div class="col-md-12">
          <div class="section">
            <div class="row">
              <div class="col-md-4">
                <div class="why-choose-img">
                  <img src="https://1.bp.blogspot.com/-0AJtftiDjoM/X_6Qnywmd-I/AAAAAAAAUiw/Ln7ntWDqgToZ8XxiG89BGpKZTLBdJAVbQCNcBGAsYHQ/s16000/couple.png" class="img-responsive" alt="rastapucho">
                </div>
              </div>
              <div class="col-sm-8">
                <p class="section-sub-heading mt-3">An intiative to help the guests reach the venue of celebration safe and secure on time. Digital Invitation Card We design beautiful digital invitation for your auspicious events to make it memorable
                  for you and your guests. Location
                  Route Map We guide your guests to reach the veneue on time wherever it is! Cherish your Memories Once your auspicious event is over, cherish and share the awesome memories with your friends and family with a digital gallery.</p>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="why-block">
                      <div class="why-icon">
                        <i class="flaticon-two-hearts"></i>
                      </div>
                      <h4 class="why-choose-heading">Wedding Cards</h4>
                    </div>
                    <div class="why-block">
                      <div class="why-icon">
                        <i class="flaticon-food"></i>
                      </div>
                      <h4 class="why-choose-heading">Video Cards</h4>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="why-block">
                      <div class="why-icon">
                        <i class="flaticon-valentine-day"></i>
                      </div>
                      <h4 class="why-choose-heading">BirthDay day</h4>
                    </div>
                    <div class="why-block">
                      <div class="why-icon">
                        <i class="flaticon-wedding-day"></i>
                      </div>
                      <h4 class="why-choose-heading">Digital Gallery</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end About Section-->
  <!-- wedding plan -->
  <section id="wedding-plan" class="ptb120">
    <div class="container text-center">
      <div class="section text-center">
        <h3 class="section-heading">Our Cards</h3>
        <p class="section-sub-heading">Some of our best wedding card that you may want</p>
      </div>
      <div class="row">
        {% for top_card in top_card %}
        {% if top_card.id <= 3 %}
        <div class="col-md-4 col-sm-6">
          <div class="wedding-plan-block">
            <div class="wedding-plan-img">
              <img src="{{top_card.image2.url}}" class="img-responsive" alt="wedding-plan">
              <div class="overlay-bg"></div>
            </div>
            <div class="wedding-plan-dtl text-center">
              <h5 class="heading"><a href="{{top_card.urls2}}">{{top_card.title2}}</a></h5>
              <p class="sub-heading">{{top_card.description2}}</p>
              <a href="{{top_card.urls2}}" class="btn btn-default">View Card</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <a href="cards" class="btn btn-pink text-center" style="margin-top:50px; padding:10px; width:40%;">All Cards</a>
    </div>
  </section>
  <!-- end wedding plan -->
  <!-- call out -->
  <section id="call-out" class="call-out-main-block">
    <div class="parallax" style="background-image: url('{% static 'images/bg/call-out-parr.jpg' %}');">
      <div class="overlay-bg"></div>
      <div class="container text-center">
        <div class="call-out-dtl">
          <h2 class="call-out-heading">Planning to book a spot to get a best Digital Cards?</h2>
          <a href="#" class="btn btn-pink">Book now</a>
        </div>
      </div>
    </div>
  </section>
  <!-- end call out -->
  <!-- wedding gallery -->
  <section id="wedding-gallery" class="wedding-gallery-main-block" style="margin-top:20px;">
    <h1 class="text-center">Our Designs</h1>
    <div id="gallery-slider" class="gallery-slider">
      {% for card_details in cards %}
      <div class="item gallery-block">
        <div class="gallery-img">
          <img src="{{card_details.image1.url}}" class="img-responsive" alt="gallery">
        </div>
        <div class="overlay-bg"></div>
        <div class="gallery-dtl">
          <h4 class="gallery-heading"><a href="{{card_details.image1.url}}" title="Elina &amp; Williams">{{card_details.tannu}} &amp; {{card_details.mannu}}</a></h4>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- end wedding gallery -->
  <!-- feature wedding -->
  <section id="feature-wedding" class="pt120 pb90">
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading">Our Recent Cards</h3>
        <p class="section-sub-heading">Here's our people's choice <i class="fa fa-heart" style="font-size:14px;"></i> top recent cards.</p>
      </div>
      <div class="row">
        {% for recent_card in recent_card %}
        {% if recent_card.id <= 3 %}
        <div class="col-md-4 col-sm-6">
          <div class="feature-block">
            <div class="feature-img">
              <img src="{{recent_card.image3.url}}" class="img-responsive" alt="feature">
            </div>
            <div class="tags tags-clr-one">Recent</div>
            <div class="feature-dtl">
              <h6 class="feature-heading"><a href="vendor-profile.html">{{recent_card.title3}}</a></h6>
              <p><i class="fa fa-map-marker" aria-hidden="true"></i>{{recent_card.address}}</p>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <div class="feature-vendor">
                  <a href="{{recent_card.urls3}}">Visit</a>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="feature-price text-right">
                  &#8377;{{recent_card.price}}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- end feature wedding -->
  <!-- call out -->
  <section id="call-out" class="call-out-main-block">
    <div class="parallax" style="background-image: url('{% static 'images/bg/call-out-parr.jpg' %}');">
      <div class="overlay-bg"></div>
      <div class="container text-center">
        <div class="call-out-dtl">
          <h2 class="call-out-heading">Book your cards with us.</h2>
          <a href="#" class="btn btn-pink">Book now</a>
        </div>
      </div>
    </div>
  </section>
  <!-- end call out -->
  <!-- why choose -->
  <section id="why-choose" class="why-choose-main-block ptb120">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="why-choose-img">
            <img src="{% static 'images/why-choose.png' %}" class="img-responsive" alt="why-choose">
          </div>
        </div>
        <div class="col-md-8">
          <div class="section">
            <div class="row">
              <div class="col-sm-5">
                <h3 class="section-heading">Why Choose Rasta<span>Pucho</span></h3>
              </div>
              <div class="col-sm-7">
                <p class="section-sub-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="why-block">
                <div class="why-icon">
                  <i class="flaticon-two-hearts"></i>
                </div>
                <h4 class="why-choose-heading">3 Year Experience</h4>
                <p>Sed ut perspiciatis unde omnis iste na voluptatem accusantium doloremque laudantium</p>
              </div>
              <div class="why-block">
                <div class="why-icon">
                  <i class="flaticon-food"></i>
                </div>
                <h4 class="why-choose-heading">50+ Cards</h4>
                <p>Sed ut perspiciatis unde omnis iste na voluptatem accusantium doloremque laudantium</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="why-block">
                <div class="why-icon">
                  <i class="flaticon-valentine-day"></i>
                </div>
                <h4 class="why-choose-heading">100 Real Weddingse</h4>
                <p>Sed ut perspiciatis unde omnis iste na voluptatem accusantium doloremque laudantium</p>
              </div>
              <div class="why-block">
                <div class="why-icon">
                  <i class="flaticon-wedding-day"></i>
                </div>
                <h4 class="why-choose-heading">Perfect Checklist</h4>
                <p>Sed ut perspiciatis unde omnis iste na voluptatem accusantium doloremque laudantium</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end why choose -->
  <!-- testimonial -->
  <section id="testimonial-block" class="testimonial-main-block" style="background-image: url('{% static 'images/bg/testimonial-bg.jpg' %}');">
    <div class="overlay-bg"></div>
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading">Words From Happy Couples</h3>
        <p class="section-sub-heading">Sed ut perspiciatis unde omnis iste natus error</p>
      </div>
      <div id="testimonials-slider" class="testimonials-slider">
        <div class="item testimonial-block">
          <div class="testimonial-client-img">
            <img src="{% static 'images/testi-1.png' %}" class="img-responsive" alt="client">
          </div>
          <div class="testimonial-dtl">
            <h5 class="testimonial-client">Dave Macwan</h5>
            <div class="date">March 25, 2017</div>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi.</p>
          </div>
        </div>
        <div class="item testimonial-block">
          <div class="testimonial-client-img">
            <img src="{% static 'images/testi-2.png' %}" class="img-responsive" alt="client">
          </div>
          <div class="testimonial-dtl">
            <h5 class="testimonial-client">Marry &amp; Leary</h5>
            <div class="date">March 29, 2017</div>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end testimonial -->
  <!-- news and update -->
  <section id="news" class="pt120 pb90">
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading">Latest News &amp; Updates</h3>
        <p class="section-sub-heading">Sed ut perspiciatis unde omnis iste natus</p>
      </div>
      <div class="row">
        {% for all_blogs in all_blogs %}
        <div class="col-md-4 col-sm-6">
          <div class="news-block">
            <div class="news-img">
              <a href="{{all_blogs.slug_title}}"><img src="{{all_blogs.image_url}}" class="img-responsive" alt="news"></a>
              <p style="padding-top:5px; font-family:cursive;"><i class="fa fa-calendar" aria-hidden="true"></i> {{all_blogs.published_date}}</p>
            </div>
            <div class="news-dtl">
              <h6 class="news-heading"><a href="{{all_blogs.slug_title}}">{{all_blogs.slug_title}}</a></h6>
              <p>{{all_blogs.slug_content}}</p>
              <a href="{{all_blogs.slug_title}}" class="btn read-more">Read More</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- end news and update -->
  <!-- footer -->
  <div id="footer" class="footer-main-block">
    <div class="container">
      <div class="footer-block">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="about-widget footer-widget">
              <h4 class="footer-heading">About Weddlist</h4>
              <div class="about-dtl">
                <p>Sed ut perspiciatis unde omnis iste natus error volup tatem.</p>
                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam cor poris suscipit labo riosam.</p>
                <a href="#" class="btn btn-white">Book Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-6">
            <div class="news-widget footer-widget">
              <h4 class="footer-heading">Latest News</h4>
              <ul>
                <li>
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="latest-news-img">
                        <img src="{% static 'images/footer-news-1.jpg' %}" class="img-responsive" alt="news">
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <div class="latest-news-dtl">
                        <a href="blog-detail.html">Sed ut perspiciatis unde omnis is te natus error sit volup</a>
                        <div class="date">March 22, 2017</div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="latest-news-img">
                        <img src="{% static 'images/footer-news-2.jpg' %}" class="img-responsive" alt="news">
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <div class="latest-news-dtl">
                        <a href="blog-detail.html">Excepteur sint occaecat cupidatat non proident,</a>
                        <div class="date">March 21, 2017</div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="subscribe-widget footer-widget">
              <h4 class="footer-heading">Forgot to share your reviews</h4>
              <form id="subscribe-form" class="subscribe-form">
                <div class="form-group">
                  <a href="review" class="btn btn-white">Share review <i class="fa fa-comment fa-1x" aria-hidden="true"></i></a>
                  <label for="mc-email"></label>
                </div>
              </form>
              <ul class="social-btns">
                <li><a class="btn facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a class="btn twitter" href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a class="btn pinterest" href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-block text-center">
      <div class="container">
        <p>&copy; 2021 All rights reserved.</p>
      </div>
    </div>
  </div>
  <!-- end footer -->
  <!-- jquery -->
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <!-- jquery library js -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
  <!-- owl carousel js -->
  <script type="text/javascript" src="{% static 'js/jquery.ajaxchimp.js' %}"></script>
  <!-- mail chimp js -->
  <script type="text/javascript" src="{% static 'js/smooth-scroll.js' %}"></script>
  <!-- smooth scroll js -->
  <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <!-- magnify popup js -->
  <script type="text/javascript" src="{% static 'js/waypoints.min.js' %}"></script>
  <!-- facts count js required for jquery.counterup.js file -->
  <script type="text/javascript" src="{% static 'js/jquery.counterup.js' %}"></script>
  <!-- facts count js-->
  <script type="text/javascript" src="{% static 'js/menumaker.js' %}"></script>
  <!-- menu js-->
  <script type="text/javascript" src="{% static 'js/jquery.share-tooltip.js' %}"></script>
  <!-- share tooltip js-->
  <script type="text/javascript" src="{% static 'js/price-slider.js' %}"></script>
  <!-- price slider / filter js-->
  <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <!-- datepicker js-->
  <!-- revolution js files -->
  <script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
  <!-- end revolution js files -->
  <script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
  <!-- custom js -->
  <script type="text/javascript">
    var tpj = jQuery;
    var revapi1066;
    tpj(document).ready(function() {
      if (tpj("#rev_slider_1066_1").revolution == undefined) {
        revslider_showDoubleJqueryError("#rev_slider_1066_1");
      } else {
        revapi1066 = tpj("#rev_slider_1066_1").show().revolution({
          sliderType: "standard",
          jsFileLocation: "//server.local/revslider/wp-content/plugins/revslider/public/assets/js/",
          sliderLayout: "auto",
          delay: 9000,
          navigation: {
            keyboardNavigation: "off",
            keyboard_direction: "horizontal",
            mouseScrollNavigation: "off",
            mouseScrollReverse: "default",
            onHoverStop: "off",
            touch: {
              touchenabled: "off",
              swipe_threshold: 75,
              swipe_min_touches: 1,
              swipe_direction: "horizontal",
              drag_block_vertical: false
            },
            arrows: {
              style: "",
              enable: true,
              hide_onmobile: true,
              hide_onleave: false,
              // hide_delay:0,
              hide_delay_mobile: 1200,
              hide_under: 0,
              hide_over: 9999,
              tmp: '',
              rtl: false,
              left: {
                h_align: "left",
                v_align: "center",
                h_offset: 20,
                v_offset: 0,
                container: "slider",
              },
              right: {
                h_align: "right",
                v_align: "center",
                h_offset: 20,
                v_offset: 0,
                container: "slider",
              }
            }
          },
          responsiveLevels: [1240, 1024, 778, 480],
          visibilityLevels: [1240, 1024, 778, 480],
          gridwidth: [1240, 1024, 778, 480],
          gridwidth: 1000,
          gridheight: [868, 768, 960, 720],
          lazyType: "none",
          parallax: {
            type: "mouse",
            origo: "slidercenter",
            speed: 2000,
            levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55],
            type: "mouse",
            disable_onmobile: "on"
          },
          shadow: 0,
          spinner: "off",
          stopLoop: "off",
          stopAfterLoops: 1,
          stopAtSlide: 0,
          shuffle: "off",
          autoHeight: "off",
          fullScreenAutoWidth: "off",
          fullScreenAlignForce: "off",
          fullScreenOffsetContainer: ".header",
          fullScreenOffset: "60px",
          disableProgressBar: "on",
          hideThumbsOnMobile: "off",
          hideSliderAtLimit: 0,
          hideCaptionAtLimit: 0,
          hideAllCaptionAtLilmit: 0,
          debugMode: false,
          fallbacks: {
            simplifyAll: "off",
            nextSlideOnWindowFocus: "off",
            disableFocusListener: false,
          }
        });
      }
    });
  </script>
  <!-- end jquery -->
</body>
<!--body end -->

<!-- Mirrored from thegenius.co/html/weddlist/version-1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Jan 2021 07:58:13 GMT -->

</html>
